*{
    background-color: #555B6E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1.titulo{
    margin-top: 2.5rem;
    color: #FAF9F9;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.funcoes{
    margin: 1.5rem 4rem;
    border-radius: 0.3rem;
    padding: 1.1rem;
    background-color: #FAF9F9;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div.manipulacoes{
    margin-left: 15rem;
    margin-top: 0.1rem;
    background-color: #FAF9F9;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

div.manipulacoes p{
    background-color: #FAF9F9;
    margin-top: 0.4rem;
    padding: 0.4rem;
}

ul.listaDeFunc{
    background-color: #FAF9F9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0rem 1rem;
}

ul.listaDeFunc li{
    background-color: #FAF9F9;
    padding: 0.4rem;
    color: #0d1821;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
}

ul.listaDeFunc li p{
    background-color: #FAF9F9;
    margin: 0.4rem 0rem;
}

ul.listaDeFunc li p.subtitulo{
    color: #89b0ae;
    background-color: #FAF9F9;
    font-weight: bolder;
    font-size: 1.2rem;
}
ul.listaDeFunc li p.descricao{
    color: #555B6E;
}

ul.listaDeFunc li input{
    background-color: #89b0ae;
    font-size: 1rem;
    color: #FAF9F9;
    padding: 0.18rem;
    height: 2rem;
    width: 15rem;
    font-weight: 2rem;
    border: none;
    border-radius: 0.3rem;
    margin: 0.3rem 0.1rem;
}

button.confirma{
    width: 15rem;
    height: 2rem;
    border: none;
    color: #FAF9F9;
    border-radius: 0.3rem;
    margin: 0.15rem;
}

button.confirma:hover{
    background-color: #0d1821;
}

button.confirma:active{
    background-color: #89b0ae;
}

div.operacoes{
    background-color: #FAF9F9;
    border-radius: 0.3rem;
    margin: 1.5rem 4rem;
    padding: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div.opera{
    background-color: #FAF9F9;
}

div.operacoes p{
    color: #89b0ae;
    background-color: #FAF9F9;
    font-weight: bolder;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    margin: 0rem 1.5rem;
}

div.operacoes ul.operacoes{
    background-color: #FAF9F9;
    border-radius: 0.3rem;
    margin: 0rem 1rem;
}

div.operacoes ul.operacoes li{
    background-color: #FAF9F9;
    list-style: none;
    margin: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div.manipulacoes p.operandos{
    font-size: 1.1rem;
    color: #89b0ae;
    font-weight: bolder;
}

ul#listaDeOperandos{
    list-style: none;
    background-color: #FAF9F9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li.novoItem{
    color: black;
    background-color: #FAF9F9;
    list-style: none;
}

li.novoResultado {
    background-color: #FAF9F9;
    list-style: none;
    margin: 0.2rem;
    padding: 0.2rem;
}

li.novoResultado p{
    color: black;
    background-color: #FAF9F9;
    list-style: none;
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 0.2rem;
}

button.acao{
    width: 10rem;
    height: 2rem;
    border: none;
    color: #FAF9F9;
    border-radius: 0.3rem;
    margin: 0.15rem;
}

button.acao:hover{
    background-color: #0d1821;
}

button.acao:active{
    background-color: #89b0ae;
}

div.operacoes div.resultados{
    color: black;
    font-size: medium;
    background-color: #FAF9F9;

}

@media(max-width: 1000px){
    
    h1.titulo{
        margin-top: 2rem;
        font-size: 1.5rem;
        color: #FAF9F9;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    ul.listaDeFunc{
        padding: 1.1rem;
        font-size: 0.9rem;
        background-color: #FAF9F9;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    div.manipulacoes{
        margin-top: 0.7rem;
        margin-left: 3rem;
        background-color: #FAF9F9;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    div.manipulacoes p{
        background-color: #FAF9F9;
        margin-top: 0.8rem;
        font-size: 0.9rem;
    }

    p.novoItem{
        color: black;
        font-size: 0.9rem;
    }

    div.manipulacoes p.operandos{
        font-size: 1.1rem;
        color: #89b0ae;
        font-weight: bolder;
    }

    div.operacoes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    div.operacoes p{
        margin: 0rem 2.3rem;
    }

    div.operacoes ul.operacoes li{
        background-color: #FAF9F9;
        list-style: none;
        margin: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.operacoes ul.operacoes{
        background-color: #FAF9F9;
        border-radius: 0.3rem;
        margin: 0rem 1.75rem;
    }

    div.operacoes ul.operacoes li p.operacao{
        color: #0d1821;
        font-size: 0.9rem;
        margin: 0.3rem 0rem;
        display: flex;
    }

    div.operacoes ul.operacoes li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    button.acao{
        width: 10rem;
        height: 2rem;
        border: none;
        color: #FAF9F9;
        border-radius: 0.3rem;
        margin: 0.15rem;
    }
    
    button.acao:hover{
        background-color: #0d1821;
    }
    
    button.acao:active{
        background-color: #89b0ae;
    }
}

@media(max-width: 700px){
    div.funcoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    div.manipulacoes {
        margin-left: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.manipulacoes p.operandos{
        font-size: 1.1rem;
        padding: 0.5rem;
        color: #89b0ae;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div.operacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.operacoes p{
        margin: 0.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.operacoes ul.operacoes{
        margin: 0.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.operacoes ul.operacoes li p.operacao{
        color: #0d1821;
        font-size: 0.9rem;
        margin: 0.3rem 0rem;
        display: flex;
    }

    div.operacoes ul.operacoes li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    button.acao{
        width: 15rem;
        height: 2rem;
        border: none;
        color: #FAF9F9;
        border-radius: 0.3rem;
        margin: 0.15rem;
    }
    
    button.acao:hover{
        background-color: #0d1821;
    }
    
    button.acao:active{
        background-color: #89b0ae;
    }

}
